
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
/*::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

#wrapper{
  max-width:100%;
  padding:50px 75px 50px 45px;
  position:relative;
}

button:focus {outline:0 !important;}

.nf-left-controls{
  position:absolute;
  top:0;
  left:0;
  width:4%;
  height:1000px;
  z-index:40;
  background:#fff;
  opacity:1;
  cursor:pointer;
  text-align:center;
  webkit justify content: center;
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;

}

.nf-fa-chevron-left-extra
{
  align-self:center;
  position:relative;
  height:auto;
  top:-250px;
  transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:blue;
  opacity:.1;
}


.nf-right-controls{
  position:absolute;
  top:0;
  right:0;
  width:4%;
  height:1000px;
  z-index:40;
  background:#fff;
  opacity:1;
  cursor:pointer;
  text-align:center;
  webkit justify content: center;
  justify-content:center;
  display: webkit box;
  display: webkit flex;
  display: moz box;
  display:ms flexbox;
  display:flex;
  color:#fff;
}

.nf-fa-chevron-right-extra
{
  align-self:center;
  position:relative;
  height:auto;
  top:-250px;
 transform-origin: 55% 50%;
  font-style:normal;
  font-weight:400;
  line-height:1;
  font-variant:normal;
  text-transform:none;
  font-size:2.5vw;
  transition:transform .1s ease-out 0s;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
  color:blue;
  opacity:.1;
}

.nf-title{
  color:#eee;
}

.nf-module-section{
  max-width: 100%;
  overflow: hidden;
  overflow-x:scroll;
  border-left:1px solid #fff;
  border-right:1px solid #fff;

}

.ul-cl{
width:600em;
list-style-type:none;
padding:50px 0 50px 0;



}

#nf-content{
  position:relative;
}


.nf-arrow-guides, .nf-arrow-guides:hover{

font-size:29px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
float:left;
position:relative;
top:80px;
left:-10px;
padding: 10px 5px 5px 2px;
background:#999;
color:#fff;
}



.nf-arrow-guides-right, .nf-arrow-guides-right:hover{

font-size:29px;
font-family: FontAwesome;
font-style: normal;
font-weight: normal;
float:right;
position:relative;
bottom:185px;
right:-40px;
padding: 10px 2px 5px 5px;
background:#999;
color:#fff;
}


.nf-card{
  width: 100px;
  height:300px;
  padding-right: 3em;
  background:#fff;
  float:left;
  margin-right:10px;
  margin-bottom:50px;
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  -moz-box-shadow: 0px 1px 5px 0px #676767;
  -webkit-box-shadow: 0px 1px 5px 0px #676767;
  box-shadow: 0px 1px 5px 0px #676767;

}

.nf-card:hover{
  cursor:pointer;
  transform: scale(1);
  visibility:visible;
  transition: all .2s ease-in-out;
  transform: scale(1.1);
  z-index:100;
  position:relative;
  transition-timing-function:cubic-bezier(0.5, 0, 0.1, 1);
  transition-duration:400ms;


}

 .nf-inside-top{
  width: 400px;
  height:400px;
  position:absolute;
  top:0;
  left:0;
  z-index:100;
}



.nf-clearfix {
  overflow: auto;
  zoom: 1;
}
